/**/*.autosave
/**/*.Debug
/**/*.Release
/**/*.user
/**/*.rc
/**/*.o
/**/*.o
/**/.metadata/
/**/.settings/
/**/bin/
/**/.classpath
/**/.project
/**/koko2/
/**/*.xml
/**/Makefile
/**/CMakeCache.txt
/**/cmake_install.cmake
/**/CMakeFiles
/**/nbproject


